body {
	background-color: #FFF8CE;
}

h1 {
	font-size: 4em;
	text-align: center;
	color: #594C39;
}

ul {
	text-align: center;
	font-size: 2em;
}

li {
	list-style-type: none;
	padding: 5%;
	display: inline;
}

a {
	text-decoration: none;
	color: #594C39;
}

p {
	color: #000000;
	text-align: center;
	font-size: 1.5em;
	margin-top: 5%;
}

img {
	width: 100px;
	height: 100px;
	padding: 10px;
}

#email {
	color: #000000;
}

#icons {
	display: flex;
	justify-content: center;
}