body {
	background-color: #FFF8CE;
}

h1 {
	font-family: 'Rock Salt', cursive;
}

p, a {
	font-family:  'Permanent Marker', cursive;
}

h1 {
	font-size: 8em;
	text-align: center;
	color: #594C39;
}

p {
	font-size: 2.5em;
	text-align: center;
	color: #000000;
}

ul {
	text-align: center;
	font-size: 2em;
}

li {
	list-style-type: none;
	padding: 5%;
	display: inline;
}

a {
	text-decoration: none;
	color: #594C39;
}

#introtext {
	margin: auto;
	width: 900px;
}
